/* ================================
Imports
================================= */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800);


/* ================================
Intro
================================= */

#intro{
    height:635px;
    width:100%;
    background-color: #529abb;
    background-image: url(/bg-mac.png);
    background-position:center;
    background-repeat:no-repeat;
    overflow-y:hidden;
    text-align:center;
    position:relative;
}



.intro-text {
	position:relative;
	width:100%;
	margin-top:175px;
	z-index:1000;
	overflow:hidden;
}
#intro .brand {
	margin-top: 0px;
}
.intro-text h1 a {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px; 
	line-height:1.1em;
	padding-top:30px;
	text-transform: uppercase;	
}
.intro-text h1 a:hover {
	text-decoration: none;
}

.line-spacer {
	width: 20%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom:1px solid #fff;
}

.intro-text p span {
	color:#fff;
	font-size: 24px;
	text-align:center;
	font-weight: 300;
}



@media (max-width:480px){
	#intro{
		background-image: none;
	}
}

th{
    text-align: center;
}


.mb{
	height:15%;
	width:90%;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}

#shareButtons{
	text-align : center;
}